#arduino Object files
build-mega2560/

#erlang bin files in src
src/*.beam
!ebin/*.beam

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out

